<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form id="login">
            <input type="text" name="email" id="email"><br>
            <input type="text" name="password" id="password"><br>
            <button>Login</button>
        </form>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->

        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyDBxog49_vq8d8Y89bcIyRdKJ1hHphD7l0",
                authDomain: "ghumphir-88668.firebaseapp.com",
                databaseURL: "https://ghumphir-88668.firebaseio.com",
                projectId: "ghumphir-88668",
                storageBucket: "ghumphir-88668.appspot.com",
                messagingSenderId: "864805870658",
                appId: "1:864805870658:web:d1d2af356688bc4a9a21db"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);

            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.None)
        
            document.addEventListener('submit', (event) => {
                event.preventDefault();
            });

            let email = document.getElementById('email');
            let password = document.getElementById('password');

            firebase
                .auth()
                .signInWithEmailAndPassword(email.value, password.value)
                .then(({user}) => {
                    console.log(user);
                    return user;
                })

        </script>
    </body>
</html>