<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    

    <title>Home</title>
</head>
<body>

 <!--banner image carousel-->
<section class="section1">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner ">
		  <div class="carousel-item active" id="slide1">
			<div class="carousel-caption">
				<h5>Travel with us</h5>
				<p>Adventure is waiting for you there</p>
				<button  id="" class="button btn-primary" type="button" value=""><span>Explore</span></button>

			</div>
		  </div>
		  <div class="carousel-item" id="slide2">
			<div class="carousel-caption align-items-center justify-content-center">
				<h5>Travel with us</h5>
				<p>Adventure is waiting for you there</p>
				<button  id="" class="button btn-primary" type="button" value=""><span>Explore</span></button>

			</div>
		  </div>
		  <div class="carousel-item" id="slide3">
			<div class="carousel-caption">
				<h5>Travel with us</h5>
				<p>Adventure is waiting for you there</p>
				<button  id="" class="button btn-primary" type="button" value=""><span>Explore</span></button>

			</div>
		  </div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>

	
</section>

<!--js -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/util.js"></script>


</body>



</html>