<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form id="login">
            <label>Email:</label><br>
            <input type="text" name="email" id="email" autocomplete="off"><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" id="password" autocomplete="off"><br><br>
            <label>Confirm Password:</label><br>
            <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off"><br><br>
            <label>Address:</label><br>
            <input type="text" name="address" id="address" autocomplete="off"><br><br>
            <label>Phone No:</label><br>
            <input type="text" name="phoneNo" id="phoneNo" autocomplete="off"><br><br>
            <button>Login</button>
        </form>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>

        <script>

            
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyDBxog49_vq8d8Y89bcIyRdKJ1hHphD7l0",
                authDomain: "ghumphir-88668.firebaseapp.com",
                databaseURL: "https://ghumphir-88668.firebaseio.com",
                projectId: "ghumphir-88668",
                storageBucket: "ghumphir-88668.appspot.com",
                messagingSenderId: "864805870658",
                appId: "1:864805870658:web:d1d2af356688bc4a9a21db"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            const db = firebase.firestore();
            document.addEventListener('submit', (event) => {
                event.preventDefault();
                let email = document.getElementById('email');
                let password = document.getElementById('password');
                let confirmPassword = document.getElementById('confirmPassword');
                let address = document.getElementById('address');
                let phoneNo = document.getElementById('phoneNo');

                if(password.value != confirmPassword.value){
                    console.log("Password don't match");
                }
                else{
                    firebase
                    .auth()
                    .createUserWithEmailAndPassword(email.value, password.value)
                    .then(({user}) => {
                        db.collection('users').doc(user.uid).set({
                            address: address.value,
                            phoneNo: phoneNo.value
                        })
                        return user.getIdToken().then( (idToken) => {
                            return fetch("/signup", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify({idToken: idToken, email: user.email})
                            })
                        })
                    })
                    .catch((error) => {
                        fetch("/signup", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({message: error.message})
                        })
                    })
                }
            });

            

        </script>
    </body>
</html>