
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html{
	height: 100%;
	overflow-x: hidden;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.section{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: justify;
	justify-content: center;
	align-items: center;

}

.section1::after{
	margin-top: 30px;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.section .section-center {
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #1e62d8;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 210px;
	margin-bottom: 0px;
}

.booking-cta h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}

/* slider */

#carouselExampleIndicators{
	margin-top: 30px;
}
#carouselExampleIndicators .carousel-item{
	height: 550px;

}

#slide1{
	background: url('../images/slider8.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #464646;
}

#slide2{
	background: url('../images/carousel7.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #464646;
}
#slide3{
	background: url('../images/carousel.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #464646;
}
.carousel-item img {
	width: 100%;
	height: auto;
	
  }
  .carousel-caption{
	  margin-bottom: 200px;
  }

  .carousel-caption h5{
	  font-size: 40px;
	  text-transform: uppercase;
  }

  .carousel-caption .button{
	border-radius: 20px;
	border: none;
	color: #ffffff;
	text-align: center;
	padding: 5px 25px 5px 25PX;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;

}

.button span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.button span::after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -10px;
	transition: 0.5s;
}
.button:hover span{
	padding-right: 20px;

}

.button:hover span::after{
	opacity: 1;
	right: 0;
}


/* responsiveness */

@media screen and (max-width: 768px) {
   .carousel-caption h5{
        font-size:14px;
    }
}