<!DOCTYPE html>
<html lang="en">
<head>
    
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<style>
            body{
                background-image: url('/images/darkmap.png');
            }
        </style>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <title>My Booking</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand col-4 text-info pl-5" href="#">Ghumfir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" href="/hotel/home">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/hotel/roomandpackage">Rooms and Packages</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="/hotel/bookingreq">Bookings</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="mr-3"><%= name %></span>
                <button class="btn btn-outline-danger" onclick="signOut()">Sign out</button>
            </form>
        </div>
    </nav>
    <div class="container" style="background-color: rgba(248, 249, 250, 0.8); border-radius: 10px;">
        <div class="row mt-5 pb-4">
            <div class="col-6 px-5">
                <h3 class="headingbookings mt-4 text-primary">Current bookings</h3>
                <div id="accordion">
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDBxog49_vq8d8Y89bcIyRdKJ1hHphD7l0",
            authDomain: "ghumphir-88668.firebaseapp.com",
            databaseURL: "https://ghumphir-88668.firebaseio.com",
            projectId: "ghumphir-88668",
            storageBucket: "ghumphir-88668.appspot.com",
            messagingSenderId: "864805870658",
            appId: "1:864805870658:web:d1d2af356688bc4a9a21db"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                
            } else {
                window.location = '/';
            }
        });
        function signOut(){
            firebase.auth().signOut().then(() => {
                fetch('/signout', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({})
                })
                window.location = '/';
            });
        }
        
        function previewImage(event) {
            var result = document.getElementById('preview');
            result.src = URL.createObjectURL(event.target.files[0]);
        }

        function c(){
            document.getElementById('Photo').click();
        }

        firebase.firestore().collection('booking').where("hotelId", "==", "<%= uid %>").get()
        .then((bookings) => {
            bookings.docs.forEach((booking,index) => {
                let card = document.createElement('div');
                card.className = "card";
                isBooked = "Pending";
                if(booking.data().confirmation){
                    isBooked = "Yes";
                }
                let element;
                if(booking.data().confirmation){
                    element = `
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <span class="p-0 font-weight-bold btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseThree${index}" aria-expanded="false" aria-controls="collapseThree${index}">
                                ${booking.data().name}
                            </span>
                            <span class=" ml-4 float-right fa fa-trash mt-2 text-danger" onclick="deleteBooking('${booking.id}')"></span>
                            </h5>
                            <div> Booking: ${isBooked}</div>
                        </div> 
                    `;
                }else{
                    element = `
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <span class="p-0 font-weight-bold btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseThree${index}" aria-expanded="false" aria-controls="collapseThree${index}">
                                ${booking.data().name}
                            </span>
                            <span class=" ml-4 float-right fa fa-trash mt-2" onclick="deleteBooking('${booking.id}')"></span>
                            <span class="float-right fa fa-check mt-2" data-toggle='tooltip' data-placement='top' title='Confirm Booking' onclick="confirmBooking('${booking.id}')"></span>
                            </h5>
                            <div> Booking: ${isBooked}</div>
                        </div> 
                    `;
                }
                
                card.innerHTML = element;
                document.getElementById('accordion').appendChild(card);
            });
        })

        function deleteBooking(bookingid){
            console.log(bookingid);
            firebase.firestore().collection('booking').doc(bookingid).delete()
            .then(() => {
                alert("bookings deleted successfully");
                window.location.reload();
            })
        }

        function confirmBooking(bookingid){
            console.log(bookingid);
            firebase.firestore().collection('booking').doc(bookingid).update({
                confirmation: true
            })
            .then(() => {
                alert("booking confirmed");
                window.location.reload();
            })
        }
    </script>
    
</body>
</html>